.header-title {
    font-size: 48px;
    font-weight: 600;
    color: #160E64 !important;
    font-family: 'Silka', sans-serif;
}
.header-subtitle {
    font-weight: 500px;
    padding-top: 20px;
    color: #160E64 !important;
}
img.md1{
    height: 89px;
}
img.md2{
    height: 65px;
    margin-top: 50px;
}
img.md3{
    height: 48px;
    margin-bottom: -30px;
}
img.md4{
    height: 100px;
    margin-top: 160px;
}
img.md5{
    margin-top: 130px;
    margin-left: 110px;
    height: 95px;
}
.moreDataImage{
width:100%;
}